@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --Primary-300: #84CAFF;
    --Primary-400: #F89687;
    --Primary-400-B:#F83F23;
    --Primary-600: #1570EF;
    --Gray-200: #EAECF0;
    --Gray-300: #D0D5DD;
    --Gray-500: #667085;
    --Gray-600: #475467;
    --Gray-900: #101828;
}

body {
    font-family: 'Inter', sans-serif;
}



a {
    text-decoration: none;
    color: var(--Gray-900);
}

#profile__img:hover + .camera {
    display: block;
}